<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WOC</display-name>
  <welcome-file-list>
    <welcome-file>/jsp/WelcomePage/index.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>
  		org.gr.woc.listener.UserSessionListener
  	</listener-class>
  </listener>
  <servlet>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>

            org.directwebremoting.servlet.DwrServlet

        </servlet-class>
    <init-param>
      <param-name>crossDomainSessionSecurity</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>allowScriptTagRemoting</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>classes</param-name>
      <param-value>java.lang.Object</param-value>
    </init-param>
    <init-param>
      <param-name>activeReverseAjaxEnabled</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>initApplicationScopeCreatorsAtStartup</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>maxWaitAfterWrite</param-name>
      <param-value>3000</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>logLevel</param-name>
      <param-value>WARN</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBestPostsServlet</display-name>
    <servlet-name>GetBestPostsServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.GetBestPostsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBestPostsServlet</servlet-name>
    <url-pattern>/GetBestPostsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetHotPostsServlet</display-name>
    <servlet-name>GetHotPostsServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.GetHotPostsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHotPostsServlet</servlet-name>
    <url-pattern>/GetHotPostsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchPostsServlet</display-name>
    <servlet-name>SearchPostsServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.SearchPostsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPostsServlet</servlet-name>
    <url-pattern>/SearchPostsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowPostServelet</display-name>
    <servlet-name>ShowPostServelet</servlet-name>
    <servlet-class>org.gr.woc.servlet.ShowPostServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPostServelet</servlet-name>
    <url-pattern>/ShowPostServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetInnerCommentServlet</display-name>
    <servlet-name>GetInnerCommentServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.GetInnerCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetInnerCommentServlet</servlet-name>
    <url-pattern>/GetInnerCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchResourceServlet</display-name>
    <servlet-name>SearchResourceServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.SearchResourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchResourceServlet</servlet-name>
    <url-pattern>/SearchResourceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReleasePostServlet</display-name>
    <servlet-name>ReleasePostServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.ReleasePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReleasePostServlet</servlet-name>
    <url-pattern>/ReleasePostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistServlet</display-name>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowHotCommoditiesServlet</display-name>
    <servlet-name>ShowHotCommoditiesServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.ShowHotCommoditiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowHotCommoditiesServlet</servlet-name>
    <url-pattern>/ShowHotCommoditiesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCommodityInfServlet</display-name>
    <servlet-name>ShowCommodityInfServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.ShowCommodityInfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCommodityInfServlet</servlet-name>
    <url-pattern>/ShowCommodityInfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyOrderServlet</display-name>
    <servlet-name>ApplyOrderServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.ApplyOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyOrderServlet</servlet-name>
    <url-pattern>/ApplyOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelOrderServlet</display-name>
    <servlet-name>CancelOrderServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.CancelOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelOrderServlet</servlet-name>
    <url-pattern>/CancelOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompleteOrderServlet</display-name>
    <servlet-name>CompleteOrderServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.CompleteOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompleteOrderServlet</servlet-name>
    <url-pattern>/CompleteOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllOrdersByUserServlet</display-name>
    <servlet-name>GetAllOrdersByUserServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.GetAllOrdersByUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllOrdersByUserServlet</servlet-name>
    <url-pattern>/GetAllOrdersByUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllSellerOrdersServlet</display-name>
    <servlet-name>GetAllSellerOrdersServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.GetAllSellerOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllSellerOrdersServlet</servlet-name>
    <url-pattern>/GetAllSellerOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFinishedOrdersByUserServlet</display-name>
    <servlet-name>GetFinishedOrdersByUserServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.GetFinishedOrdersByUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFinishedOrdersByUserServlet</servlet-name>
    <url-pattern>/GetFinishedOrdersByUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetOrderDetailInfByOrderIdServlet</display-name>
    <servlet-name>GetOrderDetailInfByOrderIdServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.GetOrderDetailInfByOrderIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOrderDetailInfByOrderIdServlet</servlet-name>
    <url-pattern>/GetOrderDetailInfByOrderIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUnfinishedOrderByUserServlet</display-name>
    <servlet-name>GetUnfinishedOrderByUserServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.GetUnfinishedOrderByUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUnfinishedOrderByUserServlet</servlet-name>
    <url-pattern>/GetUnfinishedOrderByUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReleaseCommodityServlet</display-name>
    <servlet-name>ReleaseCommodityServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.ReleaseCommodityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReleaseCommodityServlet</servlet-name>
    <url-pattern>/ReleaseCommodityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchCommoditiesServlet</display-name>
    <servlet-name>SearchCommoditiesServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.SearchCommoditiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchCommoditiesServlet</servlet-name>
    <url-pattern>/SearchCommoditiesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReleaseCommentServelet</display-name>
    <servlet-name>ReleaseCommentServelet</servlet-name>
    <servlet-class>org.gr.woc.servlet.ReleaseCommentServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReleaseCommentServelet</servlet-name>
    <url-pattern>/ReleaseCommentServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelCommentServlet</display-name>
    <servlet-name>CancelCommentServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.CancelCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelCommentServlet</servlet-name>
    <url-pattern>/CancelCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelPostServlet</display-name>
    <servlet-name>CancelPostServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.CancelPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelPostServlet</servlet-name>
    <url-pattern>/CancelPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPostTypeServlet</display-name>
    <servlet-name>GetPostTypeServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.GetPostTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPostTypeServlet</servlet-name>
    <url-pattern>/GetPostTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetLatastPostsByLayoutServlet</display-name>
    <servlet-name>GetLatastPostsByLayoutServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.GetLatastPostsByLayoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLatastPostsByLayoutServlet</servlet-name>
    <url-pattern>/GetLatastPostsByLayoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePostComtimeServlet</display-name>
    <servlet-name>UpdatePostComtimeServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.UpdatePostComtimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePostComtimeServlet</servlet-name>
    <url-pattern>/UpdatePostComtimeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExpressLikeServlet</display-name>
    <servlet-name>ExpressLikeServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.ExpressLikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpressLikeServlet</servlet-name>
    <url-pattern>/ExpressLikeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddChatServlet</display-name>
    <servlet-name>AddChatServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.AddChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddChatServlet</servlet-name>
    <url-pattern>/AddChatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllChatsByUserServlet</display-name>
    <servlet-name>FindAllChatsByUserServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.FindAllChatsByUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllChatsByUserServlet</servlet-name>
    <url-pattern>/FindAllChatsByUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBlacklistServlet</display-name>
    <servlet-name>AddBlacklistServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.AddBlacklistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBlacklistServlet</servlet-name>
    <url-pattern>/AddBlacklistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllCommentsByUser</display-name>
    <servlet-name>GetAllCommentsByUser</servlet-name>
    <servlet-class>org.gr.woc.servlet.GetAllCommentsByUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllCommentsByUser</servlet-name>
    <url-pattern>/GetAllCommentsByUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUnfinishedOrderByUser</display-name>
    <servlet-name>GetUnfinishedOrderByUser</servlet-name>
    <servlet-class>org.gr.woc.servlet.GetUnfinishedOrderByUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUnfinishedOrderByUser</servlet-name>
    <url-pattern>/GetUnfinishedOrderByUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFinishedOrdersByUser</display-name>
    <servlet-name>GetFinishedOrdersByUser</servlet-name>
    <servlet-class>org.gr.woc.servlet.GetFinishedOrdersByUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFinishedOrdersByUser</servlet-name>
    <url-pattern>/GetFinishedOrdersByUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GerAllOrdersByUser</display-name>
    <servlet-name>GerAllOrdersByUser</servlet-name>
    <servlet-class>org.gr.woc.servlet.GerAllOrdersByUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GerAllOrdersByUser</servlet-name>
    <url-pattern>/GerAllOrdersByUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetOrderDetailInfByOrderId</display-name>
    <servlet-name>GetOrderDetailInfByOrderId</servlet-name>
    <servlet-class>org.gr.woc.servlet.GetOrderDetailInfByOrderId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOrderDetailInfByOrderId</servlet-name>
    <url-pattern>/GetOrderDetailInfByOrderId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancleOrderServlet</display-name>
    <servlet-name>CancleOrderServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.CancleOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancleOrderServlet</servlet-name>
    <url-pattern>/CancleOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPostTypeById</display-name>
    <servlet-name>GetPostTypeById</servlet-name>
    <servlet-class>org.gr.woc.servlet.GetPostTypeById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPostTypeById</servlet-name>
    <url-pattern>/GetPostTypeById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllPostsByUserServlet</display-name>
    <servlet-name>GetAllPostsByUserServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.GetAllPostsByUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllPostsByUserServlet</servlet-name>
    <url-pattern>/GetAllPostsByUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPostResourceServlet</display-name>
    <servlet-name>AddPostResourceServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.AddPostResourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPostResourceServlet</servlet-name>
    <url-pattern>/AddPostResourceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPostTypesByBankuaiServlet</display-name>
    <servlet-name>GetPostTypesByBankuaiServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.GetPostTypesByBankuaiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPostTypesByBankuaiServlet</servlet-name>
    <url-pattern>/GetPostTypesByBankuaiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMarketInfServlet</display-name>
    <servlet-name>ShowMarketInfServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.ShowMarketInfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMarketInfServlet</servlet-name>
    <url-pattern>/ShowMarketInfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUserInformationServlet</display-name>
    <servlet-name>ShowUserInformationServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.ShowUserInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUserInformationServlet</servlet-name>
    <url-pattern>/ShowUserInformationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetLatestPostsByLayoutServlet</display-name>
    <servlet-name>GetLatestPostsByLayoutServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.GetLatestPostsByLayoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLatestPostsByLayoutServlet</servlet-name>
    <url-pattern>/GetLatestPostsByLayoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllCommentsByUserServlet</display-name>
    <servlet-name>GetAllCommentsByUserServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.GetAllCommentsByUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllCommentsByUserServlet</servlet-name>
    <url-pattern>/GetAllCommentsByUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BatchCancelCommentsServlet</display-name>
    <servlet-name>BatchCancelCommentsServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.BatchCancelCommentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BatchCancelCommentsServlet</servlet-name>
    <url-pattern>/BatchCancelCommentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BatchCancelPostsServlet</display-name>
    <servlet-name>BatchCancelPostsServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.BatchCancelPostsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BatchCancelPostsServlet</servlet-name>
    <url-pattern>/BatchCancelPostsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowFriendsInfServlet</display-name>
    <servlet-name>ShowFriendsInfServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.ShowFriendsInfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowFriendsInfServlet</servlet-name>
    <url-pattern>/ShowFriendsInfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUserCommoditiesServlet</display-name>
    <servlet-name>ShowUserCommoditiesServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.ShowUserCommoditiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUserCommoditiesServlet</servlet-name>
    <url-pattern>/ShowUserCommoditiesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BatchCancelFriendsServlet</display-name>
    <servlet-name>BatchCancelFriendsServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.BatchCancelFriendsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BatchCancelFriendsServlet</servlet-name>
    <url-pattern>/BatchCancelFriendsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BatchCancelAttentionServlet</display-name>
    <servlet-name>BatchCancelAttentionServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.BatchCancelAttentionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BatchCancelAttentionServlet</servlet-name>
    <url-pattern>/BatchCancelAttentionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BatchCancelCommoditiesServlet</display-name>
    <servlet-name>BatchCancelCommoditiesServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.BatchCancelCommoditiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BatchCancelCommoditiesServlet</servlet-name>
    <url-pattern>/BatchCancelCommoditiesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateInfServlet</display-name>
    <servlet-name>UpdateInfServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.UpdateInfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateInfServlet</servlet-name>
    <url-pattern>/UpdateInfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePasswordServlet</display-name>
    <servlet-name>UpdatePasswordServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.UpdatePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePasswordServlet</servlet-name>
    <url-pattern>/UpdatePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowOthersInfServlet</display-name>
    <servlet-name>ShowOthersInfServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.ShowOthersInfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOthersInfServlet</servlet-name>
    <url-pattern>/ShowOthersInfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFriendServlet</display-name>
    <servlet-name>AddFriendServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.AddFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFriendServlet</servlet-name>
    <url-pattern>/AddFriendServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BatchCancelOrdersServlet</display-name>
    <servlet-name>BatchCancelOrdersServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.BatchCancelOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BatchCancelOrdersServlet</servlet-name>
    <url-pattern>/BatchCancelOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchUserByNicknameServlet</display-name>
    <servlet-name>SearchUserByNicknameServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.SearchUserByNicknameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchUserByNicknameServlet</servlet-name>
    <url-pattern>/SearchUserByNicknameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmptyServlet</display-name>
    <servlet-name>EmptyServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.EmptyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmptyServlet</servlet-name>
    <url-pattern>/EmptyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchCommoditiesListServlet</display-name>
    <servlet-name>SearchCommoditiesListServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.SearchCommoditiesListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchCommoditiesListServlet</servlet-name>
    <url-pattern>/SearchCommoditiesListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelFriendServlet</display-name>
    <servlet-name>CancelFriendServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.CancelFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelFriendServlet</servlet-name>
    <url-pattern>/CancelFriendServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindRealizerServlet</display-name>
    <servlet-name>FindRealizerServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.FindRealizerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindRealizerServlet</servlet-name>
    <url-pattern>/FindRealizerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyAttenttionSevlet</display-name>
    <servlet-name>ApplyAttenttionSevlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.ApplyAttenttionSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyAttenttionSevlet</servlet-name>
    <url-pattern>/ApplyAttenttionSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TalkServlet</display-name>
    <servlet-name>TalkServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.TalkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TalkServlet</servlet-name>
    <url-pattern>/TalkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMailServlet</display-name>
    <servlet-name>SendMailServlet</servlet-name>
    <servlet-class>org.gr.woc.servlet.SendMailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMailServlet</servlet-name>
    <url-pattern>/SendMailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AGetHotPostsServlet</display-name>
    <servlet-name>AGetHotPostsServlet</servlet-name>
    <servlet-class>org.gr.woc.aservlet.AGetHotPostsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AGetHotPostsServlet</servlet-name>
    <url-pattern>/AGetHotPostsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AGetBestPostsServlet</display-name>
    <servlet-name>AGetBestPostsServlet</servlet-name>
    <servlet-class>org.gr.woc.aservlet.AGetBestPostsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AGetBestPostsServlet</servlet-name>
    <url-pattern>/AGetBestPostsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AGetLatestPostsByLayoutServlet</display-name>
    <servlet-name>AGetLatestPostsByLayoutServlet</servlet-name>
    <servlet-class>org.gr.woc.aservlet.AGetLatestPostsByLayoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AGetLatestPostsByLayoutServlet</servlet-name>
    <url-pattern>/AGetLatestPostsByLayoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AShowPostServelet</display-name>
    <servlet-name>AShowPostServelet</servlet-name>
    <servlet-class>org.gr.woc.aservlet.AShowPostServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AShowPostServelet</servlet-name>
    <url-pattern>/AShowPostServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AShowRelatedPostServelet</display-name>
    <servlet-name>AShowRelatedPostServelet</servlet-name>
    <servlet-class>org.gr.woc.aservlet.AShowRelatedPostServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AShowRelatedPostServelet</servlet-name>
    <url-pattern>/AShowRelatedPostServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AGetPostTypesByBankuaiServlet</display-name>
    <servlet-name>AGetPostTypesByBankuaiServlet</servlet-name>
    <servlet-class>org.gr.woc.aservlet.AGetPostTypesByBankuaiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AGetPostTypesByBankuaiServlet</servlet-name>
    <url-pattern>/AGetPostTypesByBankuaiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AReleasePostServlet</display-name>
    <servlet-name>AReleasePostServlet</servlet-name>
    <servlet-class>org.gr.woc.aservlet.AReleasePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AReleasePostServlet</servlet-name>
    <url-pattern>/AReleasePostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AShowPostCommentsServelet</display-name>
    <servlet-name>AShowPostCommentsServelet</servlet-name>
    <servlet-class>org.gr.woc.aservlet.AShowPostCommentsServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AShowPostCommentsServelet</servlet-name>
    <url-pattern>/AShowPostCommentsServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AGetInnerCommentServlet</display-name>
    <servlet-name>AGetInnerCommentServlet</servlet-name>
    <servlet-class>org.gr.woc.aservlet.AGetInnerCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AGetInnerCommentServlet</servlet-name>
    <url-pattern>/AGetInnerCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AExpressLikeServlet</display-name>
    <servlet-name>AExpressLikeServlet</servlet-name>
    <servlet-class>org.gr.woc.aservlet.AExpressLikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AExpressLikeServlet</servlet-name>
    <url-pattern>/AExpressLikeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AReleaseCommentServelet</display-name>
    <servlet-name>AReleaseCommentServelet</servlet-name>
    <servlet-class>org.gr.woc.aservlet.AReleaseCommentServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AReleaseCommentServelet</servlet-name>
    <url-pattern>/AReleaseCommentServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServletA</display-name>
    <servlet-name>LoginServletA</servlet-name>
    <servlet-class>org.gr.woc.servletandroid.LoginServletA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServletA</servlet-name>
    <url-pattern>/LoginServletA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistServletA</display-name>
    <servlet-name>RegistServletA</servlet-name>
    <servlet-class>org.gr.woc.servletandroid.RegistServletA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServletA</servlet-name>
    <url-pattern>/RegistServletA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreIndexNewestServletA</display-name>
    <servlet-name>StoreIndexNewestServletA</servlet-name>
    <servlet-class>org.gr.woc.servletandroid.StoreIndexNewestServletA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreIndexNewestServletA</servlet-name>
    <url-pattern>/StoreIndexNewestServletA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreIndexHotServletA</display-name>
    <servlet-name>StoreIndexHotServletA</servlet-name>
    <servlet-class>org.gr.woc.servletandroid.StoreIndexHotServletA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreIndexHotServletA</servlet-name>
    <url-pattern>/StoreIndexHotServletA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCommodityInfoServletA</display-name>
    <servlet-name>ShowCommodityInfoServletA</servlet-name>
    <servlet-class>org.gr.woc.servletandroid.ShowCommodityInfoServletA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCommodityInfoServletA</servlet-name>
    <url-pattern>/ShowCommodityInfoServletA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTypeStoreServletA</display-name>
    <servlet-name>ShowTypeStoreServletA</servlet-name>
    <servlet-class>org.gr.woc.servletandroid.ShowTypeStoreServletA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTypeStoreServletA</servlet-name>
    <url-pattern>/ShowTypeStoreServletA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AShowUserInformationServlet</display-name>
    <servlet-name>AShowUserInformationServlet</servlet-name>
    <servlet-class>org.gr.woc.aservlet.AShowUserInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AShowUserInformationServlet</servlet-name>
    <url-pattern>/AShowUserInformationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AUpdateInfServlet</display-name>
    <servlet-name>AUpdateInfServlet</servlet-name>
    <servlet-class>org.gr.woc.aservlet.AUpdateInfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AUpdateInfServlet</servlet-name>
    <url-pattern>/AUpdateInfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AUpdatePasswordServlet</display-name>
    <servlet-name>AUpdatePasswordServlet</servlet-name>
    <servlet-class>org.gr.woc.aservlet.AUpdatePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AUpdatePasswordServlet</servlet-name>
    <url-pattern>/AUpdatePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AShowFriendsInfServlet</display-name>
    <servlet-name>AShowFriendsInfServlet</servlet-name>
    <servlet-class>org.gr.woc.aservlet.AShowFriendsInfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AShowFriendsInfServlet</servlet-name>
    <url-pattern>/AShowFriendsInfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AShowUserSellCommoditiesServlet</display-name>
    <servlet-name>AShowUserSellCommoditiesServlet</servlet-name>
    <servlet-class>org.gr.woc.aservlet.AShowUserSellCommoditiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AShowUserSellCommoditiesServlet</servlet-name>
    <url-pattern>/AShowUserSellCommoditiesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AShowUserExchangeCommoditiesServlet</display-name>
    <servlet-name>AShowUserExchangeCommoditiesServlet</servlet-name>
    <servlet-class>org.gr.woc.aservlet.AShowUserExchangeCommoditiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AShowUserExchangeCommoditiesServlet</servlet-name>
    <url-pattern>/AShowUserExchangeCommoditiesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AShowUserFloatCommoditiesServlet</display-name>
    <servlet-name>AShowUserFloatCommoditiesServlet</servlet-name>
    <servlet-class>org.gr.woc.aservlet.AShowUserFloatCommoditiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AShowUserFloatCommoditiesServlet</servlet-name>
    <url-pattern>/AShowUserFloatCommoditiesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AShowUserAttentionCommoditiesServlet</display-name>
    <servlet-name>AShowUserAttentionCommoditiesServlet</servlet-name>
    <servlet-class>org.gr.woc.aservlet.AShowUserAttentionCommoditiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AShowUserAttentionCommoditiesServlet</servlet-name>
    <url-pattern>/AShowUserAttentionCommoditiesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AShowUserOrdersServlet</display-name>
    <servlet-name>AShowUserOrdersServlet</servlet-name>
    <servlet-class>org.gr.woc.aservlet.AShowUserOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AShowUserOrdersServlet</servlet-name>
    <url-pattern>/AShowUserOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AShowReleasePostServlet</display-name>
    <servlet-name>AShowReleasePostServlet</servlet-name>
    <servlet-class>org.gr.woc.aservlet.AShowReleasePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AShowReleasePostServlet</servlet-name>
    <url-pattern>/AShowReleasePostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AShowReadPostServlet</display-name>
    <servlet-name>AShowReadPostServlet</servlet-name>
    <servlet-class>org.gr.woc.aservlet.AShowReadPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AShowReadPostServlet</servlet-name>
    <url-pattern>/AShowReadPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AShowAttentionPostServlet</display-name>
    <servlet-name>AShowAttentionPostServlet</servlet-name>
    <servlet-class>org.gr.woc.aservlet.AShowAttentionPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AShowAttentionPostServlet</servlet-name>
    <url-pattern>/AShowAttentionPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReleaseCommodityServletA</display-name>
    <servlet-name>ReleaseCommodityServletA</servlet-name>
    <servlet-class>org.gr.woc.aservlet.ReleaseCommodityServletA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReleaseCommodityServletA</servlet-name>
    <url-pattern>/ReleaseCommodityServletA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyOrderServletA</display-name>
    <servlet-name>ApplyOrderServletA</servlet-name>
    <servlet-class>org.gr.woc.aservlet.ApplyOrderServletA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyOrderServletA</servlet-name>
    <url-pattern>/ApplyOrderServletA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchCommodityServletA</display-name>
    <servlet-name>SearchCommodityServletA</servlet-name>
    <servlet-class>org.gr.woc.aservlet.SearchCommodityServletA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchCommodityServletA</servlet-name>
    <url-pattern>/SearchCommodityServletA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ASearchPostsServlet</display-name>
    <servlet-name>ASearchPostsServlet</servlet-name>
    <servlet-class>org.gr.woc.aservlet.ASearchPostsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ASearchPostsServlet</servlet-name>
    <url-pattern>/ASearchPostsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AUploadServlet</display-name>
    <servlet-name>AUploadServlet</servlet-name>
    <servlet-class>org.gr.woc.aservlet.AUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AUploadServlet</servlet-name>
    <url-pattern>/AUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ASendMailServlet</display-name>
    <servlet-name>ASendMailServlet</servlet-name>
    <servlet-class>org.gr.woc.aservlet.ASendMailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ASendMailServlet</servlet-name>
    <url-pattern>/ASendMailServlet</url-pattern>
  </servlet-mapping>
  
</web-app>